@font-face {
    font-weight: 400;
    font-family: 'Roboto';
    src: url(src/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-weight: 500;
    font-family: 'Roboto';
    src: url(src/assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-weight: 600;
    font-family: 'Roboto';
    src: url(src/assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-weight: 300;
    font-family: 'Ubuntu';
    src: url(src/assets/fonts/Ubuntu/Ubuntu-Light.ttf);
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body, h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto';
}

:root {
    --primary-font-weight: 400;
    --primary-height-img: auto;
    --primary-width-img: 100%;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.width-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

/* All images in blocks */
.image-size {
    height: var(--primary-height-img);
    width: var(--primary-width-img);
}

/* Header */
.header {
    border-bottom: 1px solid #DDDDDD;
}

.header--horizontal-line {
    width: 100vw;
    display: none;
    /* line color #DDDDDD; */
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.header__logo, .footer__logo {
    display: flex;
    flex-grow: 1;
    align-items: center;

    font-weight: 300;
    font-family: 'Ubuntu';
}

.header__logo {
    color: #333333;
}

.footer__logo {
    color: #FFFFFF;
 }

.header__logo--ellipse1, .header__logo__p, .header__logo--rectangle, .header__logo--ellipse2 {
    margin: 2px;
}

.header__burger-checkbox, [for=burger-checkbox] {
    display: none;
}

.header__nav {
    padding: 1.8rem 0;
}

.header__ul {
    display: flex;
}

.header__li {
    list-style: none;
}

.header__nav__link {
    font-weight: var(--primary-font-weight);
    font-size: 20px;
    color: #4C5866;

    margin: 1.3vw;
    padding: 0.5vw;
}

.header__user-menu {
    display: flex;
}

.header__user-menu__search {
    margin-left: 1.3vw;
}

.header__user-menu__log-in {
    margin-left: 1.3vw;
}

/* Information */
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 22.563rem;
    width: 27.813rem;
}

.info__title {
    font-size: 60px;
    font-weight: var(--primary-font-weight);
    line-height: 60px;
    color: #4C5866;
}

.info__text {
    font-weight: var(--primary-font-weight);
    font-size: 18px;
    line-height: 27px;
    color: #85859B;
}

.info__btn, .sketchbook__btn {
    height: 70px;
    width: 255px;
    border: 1px solid #7875FE;
    background-color: white;

    font-size: 20px;
    font-weight: var(--primary-font-weight);
    color: #7875FE;
}

.info__images {
    display: flex; 
}

.info-wrapper-img__div {
    margin-top: 2.5rem;
}

/* Adout product */
.product {
    display: flex;
    flex-direction: column;

    background-color: #ebebeb;
}

.product__cat {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4%;
    margin: 4% 0;
}

.product__subcat {
    display: flex;
    align-items: center;

    width: 31%;

    border-top: 1px solid #C0C0C0;
    padding-top: 1rem;
}

.product__subcat__text__div {
    margin-left: 6%;
}

.product__subcat__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #666666;
}

.product__subcat__text {
    font-size: 19px;
    font-weight: var(--primary-font-weight);
    line-height: 27px;
    color: #85859B;
}

.product__info {
    display: flex;
    align-items: center;

    margin-bottom: 4%;
}

.product__text__div {
    height: 27.8rem;
    width: 21.8rem;
}

.product__title {
    font-size: 40px;
    font-weight: var(--primary-font-weight);
    line-height: 40px;
    color: #666666;
}

.product__text {
    font-size: 18px;
    font-weight: var(--primary-font-weight);
    line-height: 30.6px;
    color: #85859B;
}

/* Catalog */
.catalog {
    display: flex;
    justify-content: space-between;

    margin: 8% 0;
}

.catalog__card {
    height: 29.063rem;
    width: 15.938rem;
}

.catalog__card__title {
    font-size: 30px;
    font-weight: var(--primary-font-weight);
    line-height: 35px;
    color: #666666;

    padding: 0.6rem 0 0.6rem 0;
}

.catalog__card__text--small {
    font-size: 14px;
    font-weight: var(--primary-font-weight);
    line-height: 16.41px;
    color: #B5B5BD;

    padding-bottom: 0.6rem;
}

.catalog__card__text {  
    font-size: 18px;
    font-weight: var(--primary-font-weight);
    line-height: 30.6px;
    color: #85859B;

    padding-bottom: 0.7rem;
}

.catalog__card__link {
    font-size: 20px;
    font-weight: var(--primary-font-weight);
    line-height: 23.44px;
    color: #7875FE;
}

/* Collaboration */
.collaboration {
    background-color: #ebebeb;
}

.collaboration__items {
    display: flex;
    align-items: center;
    gap: 2%;
}

.collaboration__item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 21.8vh;
    width: calc(100vw / 4.3);

    border: 1px solid #C4C4C4;

    margin: 8% 0;
}

.collaboration__img {
    padding: 5.5%;
}

/* Sketchbook */
.sketchbook {
    display: flex;
    justify-content: space-between;
    align-items: end;

    height: 31.25rem;
}

.sketchbook__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 17rem;
    width: 22.5rem;

    margin-bottom: 6rem;
}

.sketchbook__title {
    font-size: 40px;
    font-weight: var(--primary-font-weight);
    line-height: 40px;
    color: #666666;
}

.sketchbook__text {
    font-size: 18px;
    font-weight: var(--primary-font-weight);
    line-height: 30.6px;
    color: #85859B;
}

.sketchbook__images {
    display: flex;
}

/* Footer */
.footer--background-color {
    background-color: #4b5866;
}

.footer__information__wrapper {
    display: flex;
}

.footer__social {
    display: flex;
}

.footer__social__fb, .footer__social__x,
.footer__social__inst, .footer__social__youtube {
    padding: 1rem;
}

.footer__logo-date {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.3rem 0;
}

.footer__logo-date__p {
    font-size: 13px;
    font-weight: var(--primary-font-weight);
    line-height: 15.23px;
    color: #4b5866;
}

/* Transition moment 1000px */
@media (max-width: 1100px) {
    .width-wrapper {
        max-width: 900px;
        margin: 0 auto;
    }

    /* Header */

    /* Information */

    /* Adout product */
    .product__img {
        width: 65%;
    }

    .product__text__div {
        height: auto;
        width: auto;
    }

    /* Catalog */
    .catalog {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10%;
    }

    /* Collaboration */

    /* Sketchbook */
    .sketchbook__article {
        width: 40%;
    }

    .sketchbook__div {
        width: 60%;
    }

    /* Footer */
}

@media (max-width: 800px) {
    .width-wrapper {
        max-width: 768px;
        margin: 0 auto;
    }

    /* Header */

    /* Information */
    .info__article {
        width: 45%;
    }
    
    .info__title {
        font-size: 55px;
    }

    .info__text {
        font-size: 15px;
    }

    .info-wrapper-img__div {
        width: 50%;
    }

    /* Adout product */
    .product__subcat__img {
        width: 60%;
    }

    .product__subcat__title {
        font-size: 16px;
        line-height: 23px;
    }

    .product__subcat__text {
        font-size: 17px;
        line-height: 22px;
    }

    .product__img {
        width: 55%;
    }

    .product__text {
        font-size: 15px;
        line-height: 28px;
    }

    .product__title {
        font-size: 35px;
    }

    /* Catalog */

    /* Collaboration */

    /* Sketchbook */
    .sketchbook {
        height: auto;
    }

    .sketchbook__article {
        margin: 4rem 0;
    }

    .sketchbook__title {
        font-size: 37px;
    }

    .sketchbook__text {
        font-size: 16px;
        line-height: 29px;
    }

    /* Footer */
}

/* tablet 690 */
@media (max-width: 768px) {
    .width-wrapper {
        max-width: 690px;
        margin: 0 auto;
    }

    /* Header */
    .header--horizontal-line {
        display: block;
        position: absolute;
        top: 43px;
    }

    .header__container {
        position: relative;
    }

    .header__logo {
        position: absolute;
        top: 10px;
    }

    .header__user-menu {
        position: absolute;
        top: 10px;
        right: 0;
    }

    .header__nav {
        width: 100%;
        padding: 4rem 0 1.4rem 0;
    }

    .header__ul {
        justify-content: space-between;
    }

    .header__nav__link {
        margin: auto;
    }

    /* Information */
    .info__article {
        width: 55%;
    }
    .info__title {
        font-size: 50px;
        line-height: 50px;
    }

    .info__text {
        font-size: 18px;
    }

    .info__images {
        display: flex;
    }

    .info-wrapper-img__div {
        width: 40%;
        margin-top: 3.5rem;
    }

    /* Adout product */
    .product__subcat {
        flex-direction: column;
    }

    .product__subcat__img {
        width: 76%;
    }

    .product__subcat__text__div {
        margin-left: 13%;
    }

    .product__subcat__title,
    .product__subcat__text {
        font-size: 18px;
        line-height: 27px;
    }

    .product__info {
        margin-bottom: 6%;
    }

    .product__img {
        width: 48%;
    }

    .product__text__div {
        height: auto;
        width: auto;

        padding-left: 1rem;
    }

    .product__title {
        font-size: 30px;
        line-height: 30px;

        padding-bottom: 1.4rem;
    }

    .product__text {
        font-size: 18px;
        line-height: 30.6px;
        margin-top: 8%;
    }

    /* Catalog */
    .catalog {
        gap: 4%;
        margin: 8% 0 0 0;
    }

    .catalog__card {
        height: auto;
        width: 47%;
        margin-bottom: 8%;
    }

    .catalog__card__text {
        padding-bottom: 0.8rem;
    }

    /* Collaboration */
    .collaboration__item {
        height: 15.2vh;
    }

    /* Sketchbook */
    .sketchbook-wrapper {
        position: relative;
    }

    .sketchbook__article {
        width: 47%;
    }

    .sketchbook__title {
        font-size: 30px;
        line-height: 30px;
    }

    .sketchbook__text {
        font-size: 18px;
        line-height: 30.6px;
    }

    .sketchbook__div {
        width: 53%;

        position: absolute;
        right: 0;
    }
    
    /* Footer */
}

/* tablet_510 */
@media (max-width: 576px) {
    .width-wrapper {
        max-width: 510px;
        margin: 0 auto;
    }

    /* Header */

    /* Information */
    .info__title {
        font-size: 38px;
        line-height: 38px;
    }

    .info__text {
        font-size: 16px;
        line-height: 24px;
    }

    .info__btn, .sketchbook__btn {
        height: 60px;
        width: 196px;
    }

    /* Adout product */
    .product__subcat__title, .product__subcat__text {
        font-size: 16px;
        line-height: 24px;
    }

    .product__info {
        flex-direction: column;
    }

    .product__img {
        align-self: flex-start;

        width: 65%;
    }

    .product__text__div {
        padding-left: 0;
    }

    .product__title {
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 1.2rem;
    }

    .product__text {
        font-size: 16px;
        line-height: 27.2px;
        margin-top: 0;
    }

    /* Catalog */
    .catalog__card__title {
        font-size: 24px;
        line-height: 28.13px;
    }

    .catalog__card__text {
        font-size: 16px;
        line-height: 27.2px;
    }

    /* Collaboration */
    .collaboration__items {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5%;
    }

    .collaboration__item {
        height: 25.8vh;
        width: calc(100vw / 2.4);

        margin: 4% 0;
    }

    .collaboration__img {
        padding: 8.5%;
    }

    /* Sketchbook */
    .sketchbook {
        flex-direction: column-reverse;
        align-items: center;

        position: static;
    }

    .sketchbook__article {
        height: auto;
        width: 100%;

        margin: 0 0 11% 0;
    }

    .sketchbook__title {
        font-size: 24px;
        line-height: 24px;

        padding-bottom: 1rem;
    }

    .sketchbook__text {
        font-size: 16px;
        line-height: 27.2px;

        padding-bottom: 1rem;
    }

    .sketchbook__div {
        position: static;
        width: 88%;

        margin-top: 10%;
    }

    /* Footer */
}

/* mobile */
@media (max-width: 320px) {
    .width-wrapper {
        max-width: 290px;
        margin: 0 auto;
    }

    /* Header */
    .header--horizontal-line {
        width: auto;
    }

    .header__logo {
        display: flex;
        left: 35%;
    }

    .header__burger-label {
        display: block;
        padding: 20% 0 6% 0;
    }

    .header__burger-label::before {
        content: "☰";
    }

    .header__burger-checkbox:checked + label + nav {
        display: block;
    }

    .header__nav {
        display: none;

    }

    .header__ul {
        flex-direction: column;

    }

    .header__nav__link {
        font-size: 18px;
        line-height: 21.09px;
    }

    .header__user-menu {
        display: flex;
        position: static;

        padding: 20% 0 6% 0;
    }

    .header__user-menu__log-in {
        margin-left: 4.3vw;
    }

    /* Information */
    .info__article {
        width: auto;

        justify-content: center;
    }

    .info__title {
        font-size: 30px;
        line-height: 30px;

        padding-bottom: 10%;
    }

    .info__text {
        font-size: 14px;
        line-height: 21px;

        padding-bottom: 10%;
    }

    .info__btn, .sketchbook__btn {
        height: 50px;
        width: 144px;
    }

    .info-wrapper-img__div {
        display: none;
    }

    /* Adout product */
    .product__cat {
        flex-direction: column;

        margin: 9% 0;
    }

    .product__subcat {
        width: auto;
        flex-direction: row;

        margin: 6% 0;
    }

    .product__subcat__img {
        width: 45%;
    }

    .product__subcat__text__div {
        margin-left: 9%;
    }

    .product__info {
        margin-bottom: 17%;
    }

    .product__img {
        width: 100%;

        margin-bottom: 7%;
    }

    /* Catalog */
    .catalog {
        gap: 0;

        margin-bottom: 20%;
    }

    .catalog__card {
        width: auto;

        margin: 20% 0 0 0;
    }

    /* Collaboration */

    /* Sketchbook */
    .sketchbook {
        margin-top: 20%;
    }

    .sketchbook__article {
        margin-bottom: 20%;
    }

    /* Footer */
    .footer__information__wrapper {
        display: block;
    }

    .footer__logo {
        justify-content: center;

        border-bottom: 1px solid;

        padding: 7% 0 5% 0;
        
    }

    .footer__social {
        justify-content: center;
    }
}